<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>first</string>
		<key>context</key>
		<dict>
			<key>class</key>
			<string>LCFirstViewControllerContext</string>
			<key>target</key>
			<string>LCFirstViewController</string>
			<key>transition</key>
			<string>auto</string>
			<key>map</key>
			<dict/>
		</dict>
		<key>host</key>
		<string>first</string>
		<key>query</key>
		<dict/>
	</dict>
	<dict>
		<key>desc</key>
		<string>second</string>
		<key>context</key>
		<dict>
			<key>class</key>
			<string>LCSecondViewControllerContext</string>
			<key>target</key>
			<string>LCSecondViewController</string>
			<key>transition</key>
			<string>auto</string>
			<key>map</key>
			<dict/>
		</dict>
		<key>host</key>
		<string>second</string>
		<key>query</key>
		<dict/>
	</dict>
	<dict>
		<key>desc</key>
		<string>third</string>
		<key>context</key>
		<dict>
			<key>class</key>
			<string>LCThirdViewControllerContext</string>
			<key>target</key>
			<string>LCThirdViewController</string>
			<key>transition</key>
			<string>auto</string>
			<key>map</key>
			<dict/>
		</dict>
		<key>host</key>
		<string>third</string>
		<key>query</key>
		<dict/>
	</dict>
	<dict>
		<key>desc</key>
		<string>child</string>
		<key>context</key>
		<dict>
			<key>class</key>
			<string></string>
			<key>target</key>
			<string>LCChildViewController</string>
			<key>transition</key>
			<string>auto</string>
			<key>map</key>
			<dict>
				<key>age</key>
				<string>age</string>
				<key>name</key>
				<string>name</string>
			</dict>
		</dict>
		<key>host</key>
		<string>child</string>
		<key>query</key>
		<dict/>
	</dict>
</array>
</plist>
